*{
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif
}

.header{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
}

main{
    margin: 50px auto;
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}


.links{
    padding: 30px;
    background-color: rgb(207, 218, 223);
    grid-column: 1;
    height: 500px;
    border: 1px solid black;
}
.link_title{
    margin-bottom: 20px;
}
.link_list li{
    padding: 3px;
}





.books{
    padding: 20px;
    /* border: 1px solid black; */
    grid-column: 2;


    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    row-gap: 20px;
}
.book_item > img{
    border: 2px solid gray;
    padding: 10px;
    height: 100px;
    width: 150px;
}
.book_item{
    text-align: center;
}
.book_item > p{
    padding: 5px;
}
.book_item :nth-child(3),.book_item :nth-child(4){
    color: green;
}
.book_item > button{
    padding: 10px;
    background-color: rgb(240, 173, 148);
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.book_item > button:hover{
    background-color: white;
    color:rgb(240, 173, 148);
}











a:link { 
    color:rgb(112, 130, 211); text-decoration:none; border: none; 
}