*{
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(240, 173, 148);
    border: none;
}
.header > img {
    width: 120px;
    height: 120px;
}
.header  > p{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
.small{
    font-size: 10px;
    color: rgb(83, 80, 80);
}

table{
    padding: 20px;
    margin: 0 auto;
}

main{
    margin: 50px auto;
    width: 90%;
}

td{
    text-align: center;
    padding-right: 120px;
    width: 200px;
}
td:nth-last-child(1)
{
    padding-right: 0px;
}

td > img{
    border: 2px solid rgb(240, 173, 148);
    padding: 10px;
    height: 190px;
    width: 150px;
}
td p {
    padding: 8px;
    padding-left: 0px;
}
td > button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 5px;
    width: 200px;
    padding: 15px;
    background-color: rgb(240, 173, 148);
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
td > button:hover{
    background-color: white;
    color:rgb(240, 173, 148);
}

.left_allign{
    float: left;
    color: green;
}
.green{
    color: green;
}
.right_allign{
    float: right;
}
.not_stock{
    color:red;
}
.in_stock{
    color: green;
}
a:link , a:visited{ 
    color:rgb(112, 130, 211); text-decoration:none; border: none; 
}
.fa-star{
    color:rgb(240, 173, 148) ;
    padding: 2px;
}
.not_filled{
    color: grey;
    opacity: 50%;
}
.review{
    text-decoration: underline;
    /* color: #73858d; */
}