.header{
    margin-bottom: 20px;
}
img{
    width: 150px;
    height: 200px;
}
.image-container{
    width: 120px;
    height: 100%;
}
.nav-links{
    list-style: none;
}
.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link{
    background-color: #f3f3f3;
    border: 1px solid black;
    width: 15vw;
    text-align: left;
    padding: 3px 5px;
    margin: 5px 0px;
    border-radius: 4px;
}
.book_container{
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:420px){
    .image-container{
        width: 50px;
    }
}

@media screen and (max-width: 768px){
    .main-container{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
    }
    .navbar>ul{
        width: 100%;
        padding: 0px 25px;
    }
    .navbar>ul>li{
        width: 100%;
    }
}