.header{
    margin-bottom: 20px;
}
.image-container{
    width: 120px;
    height: 100%;
}
.nav-links{
    list-style: none;
}
.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link{
    background-color: #f3f3f3;
    border: 1px solid black;
    width: 15vw;
    text-align: left;
    padding: 3px 5px;
    margin: 5px 0px;
    border-radius: 4px;
}
.book_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.book_container >img{
    border: 2px solid rgb(240, 173, 148);
    padding: 10px;
    height: 190px;
    width: 150px;
}


.align-left{
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
}

.green{
    color: green;
}
.right_allign{
    float: right;
}
.not_stock{
    color:red;
}
.in_stock{
    color: green;
}
a:link , a:visited{ 
    color:rgb(112, 130, 211); text-decoration:none; border: none; 
}
.fa-star{
    color:rgb(240, 173, 148) ;
    padding: 2px;
}
.not_filled{
    color: grey;
    opacity: 50%;
}
.review{
    text-decoration: underline;
    /* color: #73858d; */
}

@media screen and (max-width:420px){
    .image-container{
        width: 50px;
    }
}

@media screen and (max-width: 768px){
    .main-container{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
    }
    .navbar>ul{
        width: 100%;
        padding: 0px 25px;
    }
    .navbar>ul>li{
        width: 100%;
    }
}